/*********
* g
**********/
body
{
	background-color: #2a313b;
}
.main,
.content
{
	box-shadow: 0 0 15px 2px #101010;
}
.top,
.menu-item
{
	height: 50px;
}
.left,
.content,
.cnsl-block
{
	float: left;
}

/*********
* main
**********/
.main
{
	margin: 30px auto;
	width: 1000px;
	background-color: #232730;
}

/*********
* left
**********/
.left
{
	width: 50px;
}
.left>div
{
	width: 100%;
}

/*********
* content
**********/
.content
{
	width: 850px;
	background-color: #2a313b;
}
.content .top
{
	background-color: #242b35;
}
.content .title
{
	height: 75px;
}
.cnsl-block
{
	border-width: 0px;
	border-right: #161d28 solid 1px;
}
.cnsl-block .row
{
	clear: both;
}
.direction
{
	display: table;
	border-width: 0px;
	border-bottom: #161d28 solid 1px;
}
.direction .row
{
	border-width: 0px;
	border-top: #161d28 solid 1px;
}
.direction .row .metro-block
{
	display: table-cell;
	border-width: 0px;
	border-right: #161d28 solid 1px;
}
.direction .row .metro-block.last
{
	border-right: 0px;	
}
.size-1 .metro-block
{
	height: 100px;
	width: 100px;
}
