/*********
* g
**********/
body
{
	background-color: #2a313b;
}
.main,
.content,
.console,
.menu-item.active,
.menu-item.hover
{
	box-shadow: 0 0 15px 2px #101010;
}
.top,
.menu-item
{
	height: 50px;
}
.left,
.content,
.cnsl-block
{
	float: left;
}
.content,
.console,
.menu-item
{
	position: relative;
}


/*********
* main
**********/
.main
{
	margin: 30px auto;
	width: 1314px;
	background-color: #232730;
	height: 900px;
	position: relative;
}

/*********
* left
**********/
.left
{
	width: 50px;
}
.left>div
{
	width: 100%;
}

/*********
* content
**********/
.content
{
	width: 1264px;
	background-color: #2a313b;
}
.content .top
{
	background-color: #242b35;
}
.content .clock
{
	line-height: 50px;
	text-align: center;
	font-size: 20px;
}
.content .light
{
	position: relative;
	height: 75px;
	cursor: pointer;
}
.console .light .current
{
	background: #383F4C;
	height: 100%;
}
.console .light .mask
{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	background: rgba(98, 107, 123, 0.32);
}
.console .zone-1
{
	border-width: 0px;
	border-bottom: #161d28 solid 1px;
}
.console .zone-2
{
	height: 150px;
}
.cnsl-block
{
	border-width: 0px;
	border-right: #161d28 solid 1px;
}
.cnsl-block .row
{
	clear: both;
}
.direction
{
	display: table;
	border-width: 0px;
	border-bottom: #161d28 solid 1px;
}
.direction .row
{
	border-width: 0px;
	border-top: #161d28 solid 1px;
}
.direction .row .metro-block
{
	height: 100px;
	width: 100px;
}
.direction .row .metro-block.width-2
{
	width: 201px;
}
.row .metro-block
{
	vertical-align: top;
	display: table-cell;
	border-width: 0px;
	border-right: #161d28 solid 1px;
	position: relative;
}
.row .metro-block.last
{
	border-right: 0px !important;
}
.row .metro-block .camera-angle
{
	height: 100%;
	width: 100%;
}
.picture
{
	height: 640px;
	width: 800px;
}
.showboard.part-1 .metro-block
{
	width: 150px;
	height: 127px;
	border-width: 0px;
	border-right: #161d28 solid 1px;
}
.showboard.part-1 .metro-block.last
{
	width: 151px;
}
.showboard.part-1 .row
{
	border-width: 0px;
	border-bottom: #161d28 solid 1px;
}
.showboard.part-1 .row.last
{
	border-bottom: 0px !important;
}
.showboard.part-2
{
	width: 160px;
	height: 640px;
	position: relative;
}
.showboard.part-2 .metro-block
{
	width: 160px;
	height: 159px;
	border: #161d28 solid 1px;
	position: absolute;
	left: -1px;
	background: #2a313b;
	overflow: hidden;
	border-right: 0px;
}
.showboard.part-2 .metro-block canvas
{
	width: 320px;
	height: 160px;
	position: absolute;
	top: 0;
	left: 0;
}
.showboard.part-2 .metro-block.sb-right-2
{
	top: 160px;
}
.showboard.part-2 .metro-block.sb-right-3
{
	top: 320px;
}
.showboard.part-2 .metro-block.sb-right-4
{
	top: 480px;
}
.console .cnsl-block.last
{
	border-right: 0px;
}
.zone-2 div
{
	float: left;
}
.zone-2 .metro-block
{
	height: 100%;
	position: relative;
}
.zone-2 .bt-scrn
{
	width: 151px;
	border-width: 0px;
	border-right: #161d28 solid 1px;
}
.zone-2 .bt-download
{
	float: right;
	width: 160px;
	border-width: 0px;
	border-left: #161d28 solid 1px;
}
.zone-2 .bt-showinfo
{
	width: 150px;
	border-width: 0px;
	border-right: #161d28 solid 1px;
	overflow: hidden;
}
.bt-showinfo .rotatecontainer
{
	transform:rotate(45deg) translate(-45px, 0px);
	-ms-transform:rotate(45deg) translate(-45px, 0px); 	/* IE 9 */
	-moz-transform:rotate(45deg) translate(-45px, 0px); 	/* Firefox */
	-webkit-transform:rotate(45deg) translate(-45px, 0px); /* Safari 和 Chrome */
	-o-transform:rotate(45deg) translate(-45px, 0px); 	/* Opera */
}
.bt-showinfo .rotatecontainer>div
{
	height: 106px;
	width: 213px;
	border-bottom: #161d28 solid 1px;
	text-align: center;
	line-height: 106px;
	overflow: hidden;
}
.bt-showinfo .hint
{
	
}
.bt-showinfo .shortcut
{
	
}

/*********
* menu
**********/
.menu-item
{
	cursor: pointer;
	margin-bottom: 15px;
	color: #626B7B;
	overflow: hidden;
}
.menu-item.active,
.menu-item.hover
{
	background-color: #2B323C;
	color: #BCC5D5;
}
.menu-item .text
{
	height: 50px;
	width: 100px;
	text-align: center;
	line-height: 50px;
}

/*********
* shift
**********/
.csl-shift .text
{
	height: 49px;
}
.csl-shift .shift
{
	height: 50px;
	width: 100%;
	border-width: 0px;
	border-top: #161d28 solid 1px;
}
.csl-shift .shift-item
{
	cursor: pointer;
	height: 100%;
	float: left;
	border-width: 0px;
	border-right: #161d28 solid 1px;
}
.csl-shift .shift-item.hover,
.csl-shift .shift-item.active:not(.hover)
{
	background: #444C5A !important;
}
.csl-shift .shift-item.active
{
	background: #596579 !important;
}
.csl-shift .shift-item.last
{
	border-right: 0px;
}

/*********
* metro
**********/
.metro-bt
{
	cursor: pointer;
	color: #626B7B;
}
.metro-bt.hover,
.metro-bt.active
{
	background: #343B47;
	color: #BCC5D5;
}
.metro-bt.press
{
	background: #424954 !important;
}

/*********
* mask
**********/
.hint-label,
.shortcut-label
{
	position: absolute;
	background: rgba(0,0,0,.3);
	font-size: 16px;
	color: #BCC5D5 !important;
	display: none;
}
.hint-label.active,
.shortcut-label.active
{
	display: block;
}
.hint-label
{
	width: 100%;
	text-align: center;
}
.shortcut-label
{
	padding: 4px;
}
.tl,
.tr
{
	top: 0;
}
.dl,
.dr
{
	bottom: 0;
}
.tl,
.dl
{
	left: 0;
}
.tr,
.dr
{
	right: 0;
}

/*********
* fonts
**********/
@font-face
{
	font-family: "iconfont";
	src: url('font/iconfont.eot'); /* IE9*/
	src: url('font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('font/iconfont.woff') format('woff'), /* chrome、firefox */
	url('font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url('font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont
{
	font-family:"iconfont" !important;
	font-size:16px;
	font-style:normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}
.icon-diagnosis:before { content: "\e600"; }
.icon-console:before { content: "\e601"; }
.icon-setting:before { content: "\e602"; }
.icon-pic:before { content: "\e603"; }
.icon-up:before { content: "\e604"; }
.icon-down:before { content: "\e605"; }
.icon-float:before { content: "\e606"; }
.icon-dive:before { content: "\e607"; }
.icon-right:before { content: "\e608"; }
.icon-left:before { content: "\e609"; }
.icon-stopall:before { content: "\e60a"; }
.icon-turnleft:before { content: "\e60b"; }
.icon-turnright:before { content: "\e60c"; }
.icon-reset:before { content: "\e60d"; }
.icon-scrn:before { content: "\e60e"; }
.icon-download:before { content: "\e60f"; }

.menu-item .iconfont
{
	height: 50px;
	width: 50px;
	float: left;
	text-align: center;
	line-height: 50px;
	font-size: 27px;
}
.direction .iconfont
{
	height: 100%;
	width: 100%;
	text-align: center;
	line-height: 100px;
	font-size: 50px;
}
.showboard.part-1 .iconfont
{
	height: 100%;
	width: 100%;
	text-align: center;
	line-height: 130px;
	font-size: 50px;
}
.zone-2 .rotatecontainer .iconfont
{
	height: 100%;
	width: 100%;
	font-size: 25px;
}
.zone-2 .rotatecontainer .hint .iconfont
{
	transform:rotate(-45deg) translate(-8px, 8px);
	-ms-transform:rotate(-45deg) translate(-8px, 8px); 	/* IE 9 */
	-moz-transform:rotate(-45deg) translate(-8px, 8px); 	/* Firefox */
	-webkit-transform:rotate(-45deg) translate(-8px, 8px); /* Safari 和 Chrome */
	-o-transform:rotate(-45deg) translate(-8px, 8px); 	/* Opera */
}
.zone-2 .rotatecontainer .shortcut .iconfont
{
	transform:rotate(-45deg) translate(8px, -8px);
	-ms-transform:rotate(-45deg) translate(8px, -8px); 	/* IE 9 */
	-moz-transform:rotate(-45deg) translate(8px, -8px); 	/* Firefox */
	-webkit-transform:rotate(-45deg) translate(8px, -8px); /* Safari 和 Chrome */
	-o-transform:rotate(-45deg) translate(8px, -8px); 	/* Opera */
}
.zone-2 .bt-scrn .iconfont,
.zone-2 .bt-download .iconfont
{
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 150px;
	font-size: 50px;
}